@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800&display=swap');

/* to apply for every element on page */
*{
    margin: 0;
    padding: 0;
    /* padding and border are included in the width and height */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    line-height: 1.6px;
    background-color: #f2f3f5;
    /* background: linear-gradient(to bottom, #ffffff, #f0f0f0); */
}

h1{
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    /* margin : top left bottom right */
    margin: 40px 0 60px 0;
    line-height: 35px;
}

form{
    /* by display flex - all elements try to fit in the horizontal line */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

#search-input{
    width: 60%;
    max-width: 400px;
    /* 10 from top-bottom 20 from left right */
    padding: 10px 20px;
    border: none;
    box-shadow: 0 0 6px rgb(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 18px;
    /* text colour */
    color: #333;
}

#search-button{
    padding: 10px 20px;
    background-color: #138065;
    color: #fff;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    /* between i/p and button */
    margin-left: 10px;
    cursor: pointer;
}

/* to style the class */
/* for entire results container */

.search-results{
    padding: 20px;
    display: flex; 
    justify-content: space-between;
    /* wrap - contents will be wraped onto multiple lines if space is not enough */
    flex-wrap: wrap; 
    max-width: 1200px;
    margin: 0 auto;    
}

/* for indivisual resulting image */
.search-result{
    margin-bottom: 60px;
    padding-bottom: 10px ;
    width: 30%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.25s ease-in-out; 
}

.search-result img{
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    object-fit: cover;
    /* if opacity changes, this transition will be applied */
    transition: opacity 0.2s ease-in-out;
}

/*.search-result:hover img{
    opacity: 0.8;
} */

.search-result:hover {
    transform: scale(1.07);
}

.search-result a{
    font-size: 20px;
    text-decoration: none;
    color: #333;
    /* to make entire block clickable */
    display: block;
    padding: 10px;
    /* first letter capital for each word */
    text-transform: capitalize;
    line-height: 25px;
}

#show-more-btn{
    background-color: #008cba;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border: none;
    padding: 10px 20px; /*top-bottom; left-right*/
    text-align: center;
    display: block;
    margin: 30px auto;
    border-radius: 5px;
    cursor: pointer;
    /* should appear only after search is clicked */
    display: none;
}

@media screen and (max-width: 938px){
    /* .search-results{
        padding: 20px;
    } */

    .search-result{
        width: 45%;
    }
}

@media screen and (max-width: 638px){
    .search-result{
        width: 100%;
    }
}


